<a href="https://colab.research.google.com/github/aadamante/conversion_paths_sql_python/blob/main/Copy_of_Google_e_commerce_Conversion_Paths_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #import authentication library 
from google.colab import auth 
auth.authenticate_user()

In [ ]:
#uses magic command to run the query and display the result
%%bigquery --project practice-250123

WITH past_30_days_transactions AS (  #this common table expression catches only the transactions occurred in the past 30 days
  SELECT
    fullVisitorId,  
    VisitID,
    (totals.totalTransactionRevenue/1000000) as revenue_transactions,  #converts the transaction revenue back to the original currency value - dataset original values were multiplied by 10^6
    DATETIME(TIMESTAMP_SECONDS(visitStartTime)) AS transaction_timestamp, #transforms visit date/time into datetime type - originally it was a string
    DATE(DATETIME(TIMESTAMP_SECONDS(visitStartTime))) AS transaction_date  #converts visit date/time to date type - timestamp_seconds function returns timestamp
    FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
   WHERE totals.totalTransactionRevenue IS NOT NULL AND _TABLE_SUFFIX BETWEEN '20170701' AND '20170801') #establishes one-month-window analysis
    
 SELECT *
 FROM past_30_days_transactions

            fullVisitorId     VisitID  ...  transaction_timestamp transaction_date
0     0794644147217997845  1500063343  ...    2017-07-14 20:15:43       2017-07-14
1     9104901150360487546  1500043639  ...    2017-07-14 14:47:19       2017-07-14
2     7063315126654210750  1500073970  ...    2017-07-14 23:12:50       2017-07-14
3     3968161907727043413  1500066186  ...    2017-07-14 21:03:06       2017-07-14
4     4274511861314211339  1500015203  ...    2017-07-14 07:01:12       2017-07-14
...                   ...         ...  ...                    ...              ...
1069  1675608109098320028  1501038383  ...    2017-07-26 03:06:23       2017-07-26
1070  0743501820485430157  1501034665  ...    2017-07-26 02:04:25       2017-07-26
1071  1164110348121511511  1500999677  ...    2017-07-25 16:21:17       2017-07-25
1072  7803437096506812413  1501015763  ...    2017-07-25 20:49:27       2017-07-25
1073  0082806901961150595  1501008172  ...    2017-07-25 18:42:52       2017-07-25

[1074 rows x 5 columns]